* {
	font-family: Roboto, sans-serif;	
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 32px;
}

.container {
	max-width: 1110px;
	margin: auto;
}

h2 {
	font-size: 64px;
	text-align: center;
	color: #007765;
	padding: 16px;
}

p {
	padding-bottom: 1em;
}

header {
	background-color: #007765;
	color: white;
	font-size: 24px;
	padding: 20px 0;
}

header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	height: 45px;
}

nav {
	align-self: center;
}

nav li {
	display: inline;
}

nav li:before {
	content: "|";
	padding: 0 8px;
}

nav li:first-child:before {
	content: "";
	padding: 0;
}

nav a {
	text-decoration: none;
	color: white;
}

.jumbotron {
	background-image: url("../img/jumbotron.png");
	background-size: cover;
	background-position: center;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 72px;
	padding: 160px 0;
}

.problem {
	background-color: #EEEEEE;
	padding: 48px 0 92px;
}

.hero {
	background-image: url("../img/hero.png");
	background-size: cover;
	background-position: center;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 48px;
	font-style: italic;
	padding: 128px 0;
}

.hero .container {
	max-width: 892px;	
}

.ppc {
	padding: 48px 0 92px;
}

.ppc-logo {
	width: 115px;
	float: left;
	margin-right: 48px;
}

.team {
	background-color: #EEEEEE;
	padding: 48px 0 92px;
}

.team-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.team-item {
	text-align: center;
	padding: 24px 0;
}

.team-name {
	color: #007765;
	font-size: 24px;
	font-weight: bold;
	padding-top: 12px 0;
}

.team-position {
	font-size: 18px;
	font-style: italic;
}

footer {
	background-color: #333;
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 48px 0 64px 0;
}

footer .copy {
	max-width: 540px;
	margin: 0 auto;
}